################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs
/ProductApi.Net.Api/bin/Debug/net5.0
/ProductApi.Net.Api/obj
/ProductApi.Net.Dominio/bin/Debug/net5.0
/ProductApi.Net.Dominio/obj
/ProductApi.Net.Infra/bin/Debug/net5.0
/ProductApi.Net.Infra/obj
/ApiProduto.Net.Dominio/obj
