################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApiProduto.Net.Solution/.vs
/ApiProduto.Net.Solution/ApiProduct.Net.Api/bin/Debug/net5.0
/ApiProduto.Net.Solution/ApiProduct.Net.Api/obj
/ApiProduto.Net.Solution/ApiProduto.Net.Dominio/bin/Debug/net5.0
/ApiProduto.Net.Solution/ApiProduto.Net.Dominio/obj
/ApiProduto.Net.Solution/ApiProduto.Net.Infra/bin/Debug/net5.0
/ApiProduto.Net.Solution/ApiProduto.Net.Infra/obj
